<h2>Users</h2>
<% @users.each do |user| %>
  <% if user.id != current_user.id %>
    <li>
        <%= link_to user.name, user %>
        <%= link_to 'record', transactions_path(render_id: current_user.id, borrower_id: user.id), method: :post %>
    </li>
  <% end %>
<% end %>