<!doctype html>
<html lang="ja">
<head>
  <meta content="text/html; charset=UTF-8" />
  <style type="text/css">
    h2 {
      color: #e7454a;
    }
    p hr {
      color: #2d2a24;
    }
  </style>
</head>
<body>

  <p>
    この度は「Square」を利用頂きましてありがとうございます。
  </p>
  <p>

  返済期日前日となりましたので、連絡をさせていただきました。
  </p>

  <p>

円滑なコミュニケーションを築き、これからも末永く
ご縁があることを心から願っております。
  </p>

  
</body>
</html>



