<table>
  <thead>
    <h2>Transactions</h2>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
    <tr>
      <td>
        <%= link_to transaction.target_user(current_user).name, transaction_records_path(transaction)%>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>